@media only screen and (max-width: 600px) {

    body {
        font-family: 'Helvetica Neue', sans-serif;
        margin: 20;
        padding: 20;
        background-color:lightgray;
    }


    .formContainer{
        background-color: #fff;
        color: black;
        margin-top: 10px;
        padding: 5px;
        border: 1px solid #000; 
        justify-content: center;
        border-radius: 3px;
    }



}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire container while maintaining its aspect ratio */
  }

  .container {
    position: relative;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Set the text color */
    font-size: 24px; /* Set the font size */
    text-align: center;
    font-family: Arial, sans-serif; /* Set the font family */
    /* You can add more styles as needed */
  }

.page {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#shop-front {
    background-color: #fff;
}

#product-list {
    padding: 20px;
}

.product-item {
    margin-bottom: 20px;
}

.quantity-btn {
    background-color: #0070c9;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #005192;
}

#order-summary {
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#customer-info {
    padding: 20px;
}

button {
    background-color: #0070c9;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005192;
}
