body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: green;
}

.page {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#shop-front {
    background-color: #fff;
}

#product-list {
    padding: 20px;
}

.product-item {
    margin-bottom: 20px;
}

.quantity-btn {
    background-color: #0070c9;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #005192;
}

#order-summary {
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#customer-info {
    padding: 20px;
}

button {
    background-color: #0070c9;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005192;
}
